doctype html
html
  head(lang='ru')
    meta(charset='UTF-8')
    title= title
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js')
    script(type='text/javascript', src='javascripts/config.js')
    script(type='text/javascript', src='javascripts/dispatcher.js')
    script(type='text/javascript', src='javascripts/api/api.js')
    script(type='text/javascript', src='javascripts/storage/userStorage.js')
    script(type='text/javascript', src='javascripts/components/userList.js')
    script(type='text/javascript', src='javascripts/components/userEdit.js')
    script(type='text/javascript', src='javascripts/components/userAdd.js')
    script(type='text/javascript', src='javascripts/components/userRemovePopup.js')
    script(type='text/javascript', src='javascripts/index.js')
  body
    block content
